.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  height: 100vh;
}

img {
  height: 500px;
  display: inline;
  margin: 0;
}

.illustrator {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thermometerContainer {
  width: 120%;
}

.thermometer {
  width: 100%;
}
